<div class="container-navbar d-flex">
  <div class="col-3"></div>
  <div class="col-6 text-center">
    <%= image_tag "reserva_cmg_s_fundo.png", alt: "logo reserva comigo", class: "navbar-logo" %>
  </div>
  <div class="col-3"></div>
</div>
